<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingfengweb.piaoguanjia.orderSystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:name="com.qingfengweb.piaoguanjia.orderSystem.MyApplication"
        android:icon="@drawable/xiadan_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent" >
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.MainTabFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.NewProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.OwerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.OwerAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.PasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.ContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.AddContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.OrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.AdsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.AdsdetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.ProduceDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.PaymentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.qingfengweb.piaoguanjia.orderSystem.CalendarSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>