<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingfengweb.baoqi.insuranceShow"
    android:versionCode="2"
    android:versionName="2.0.1" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:name="com.qingfengweb.baoqi.hospitalquery.BMapApiDemoApp"
        android:icon="@drawable/baoqilogo"
        android:label="@string/app_name" >
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.InsuranceShowActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.InsureActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.PlanActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.CalendarActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.ImageSwitcher"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.PictureInfo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CameraPreview"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CameraPreview1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CollectInfoMainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CommInfoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CollCarInfo"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CollGongChengXian"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CollJiSunXian"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CollQiCaiXian"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoBaoXianDan"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoCaiChanSunShi"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoCheLDaoQiang"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoCheSunZiLiao"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoFaYuanZhM"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoJiaShi"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoPeiKuangZhengJian"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoPersonSunShi"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoQiTa"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoShiGuChuLi"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.collectInfo.CarInfoSurveyZiLiao"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.SalesmanshipActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.mytask.MyTaskMainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.CustomerInfoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.CustomerActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.hospitalquery.HospitalQuery"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.InsuranceShowMainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.gereninfo.PrivateMessage"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.CardSearchActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.InstructionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.InstructionDemoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.ProductCenter"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.ProductInfoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.LetterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.LetterSendActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.AdvertiseActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.IntroduceActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.JoinLifeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.NoticeActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.PetitionLetterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qingfengweb.baoqi.insuranceShow.SupportActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>