<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piaoguanjia.accountManager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:name="com.piaoguanjia.accountManager.AccountApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.piaoguanjia.accountManager.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.RechargeDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.CheckManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.RechargeRecordsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.RechargeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.CheckManagerListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.CheckManagerInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.SpecialAccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.piaoguanjia.accountManager.LimitAccountActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>